/***** DOM Styles *****/
header {
  background-image: url('../IMG/healthyEating.jpg');
}

a {
  text-decoration: none;
  color: #6ab47b;
}

li {
  text-decoration: none;
}

h1 {
  color: #1f4287;
}

body {
/*   background-color: #fff;*/
}



/***** NAVIGATION *****/
nav {
  background: #8bae4c;
}

nav a, nav a:visited {
  color: #fff;
}

nav a.selected, nav a:hover {
  color: #678334;
}

.navigation {
  display: flex;
  justify-content: space-around;
}

/***** ID tag styles *****/
#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}

#logo {
  text-align: center;
  margin: 0;
}
