/***** HTML ELEMENT Styles *****/
.topper {
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  color: #6ab47b;
}

li {
  text-decoration: none;
}

h1 {
  color: #1f4287;
}
h2 {
  color: #00788c;
}

header {
  background-image: url(../IMG/healthyEating.jpg);
  background-size: cover;
}



/***** NAVIGATION Styles *****/
nav {
  background: #799a3d;
}

nav a, nav a:visited {
  color: #fff;
}

nav a.selected, nav a:hover {
  color: #1f4287;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  flex-grow: 2;

}


/***** ID tag styles *****/
#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}

#logo {
  text-align: center;
  margin: 0;
}


/*********************** MEDIA QUERIES ******************************/
@media min-width 769 px {

}


@media min-width 1025 px {

}
